


/*HEADER*/
header {
	top: 0;
	min-width: 1450px;
	width: 100%;
	height: 83px;
	border-bottom: 3px solid #f78f29;
	background: #252525;
	color: #fff;
}
.logo {
	float: left;
	margin-top: 2px;
	margin-left: 158px;
}
.logo img {
	margin-right: 20px;
}
header h1 {
	display: inline-block;
	vertical-align: 18px;
}
header h1 span:nth-of-type(1) {
	font-weight: 700;
}
header h1 span:nth-of-type(2) {
	font-weight: 200;
}
header h1 span:nth-of-type(3) {
	font-weight: 400;
}
.search {
	float: right;
	margin-top: 29px;
	margin-right: 158px;
	width: 164px;
	height: 24px;
	border-radius: 11px;
	background: #fff;
}
nav {
	float: right;
}
nav ul {
	margin-top: 34px;
	margin-right: 9px;
	list-style: none;
}
nav ul li {
	float: left;
	padding-right: 33px;
	padding-left: 33px;
}
nav ul li a {
	text-decoration: none;
}


/*DIAL*/
.draggable {
	cursor: pointer;
}
.dialInner, .dialOuter, .dialCenter, .dialExpanded, .dialExpandedInner {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background: #fff;
}
.dialMasks {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	margin-top: -60px;
	margin-left: -60px;
	width: 120px;
	height: 120px;
}
.dialMasks div{
	background: #fff;
}
.maskEW {
	position: absolute;
	top: 50%;
	margin-top: -14px;

	width: 100%;
	height: 28px;
}
.maskNS {
	position: absolute;
	left: 50%;
	z-index: 1;
	margin-left: -15px;
	width: 30px;
	height: 100%;
}
.dialOuter {
	margin-top: -59px;
	margin-left: -59px;
	width: 116px;
	height: 116px;
	border: 1px solid #bbb;
}
.dialInner {
	z-index: 1;
	margin-top: -53px;
	margin-left: -53px;
	width: 106px;
	height: 106px;
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(156, 156, 156, 0.75);
	-moz-box-shadow: inset 0px 0px 3px 0px rgba(156, 156, 156, 0.75);
	box-shadow: inset 0px 0px 3px 0px rgba(156, 156, 156, 0.75);
	overflow: hidden;
}
.dialInner .dialInner {
	background: transparent;
}
.dialExpanded {
	width: 170px;
	height: 170px;
	margin-top: -85px;
	margin-left: -85px;
	background: #fff;
	display: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(185, 185, 185, 0.75);
	-moz-box-shadow: 0px 0px 6px 0px rgba(185, 185, 185, 0.75);
	box-shadow: 0px 0px 6px 0px rgba(185, 185, 185, 0.75);
	z-index: 1;
}
.dialExpandedInner {
	width: 156px;
	height: 156px;
	margin-top: -78px;
	margin-left: -78px;
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(156, 156, 156, 0.75);
	-moz-box-shadow: inset 0px 0px 3px 0px rgba(156, 156, 156, 0.75);
	box-shadow: inset 0px 0px 3px 0px rgba(156, 156, 156, 0.75);
	overflow: hidden;
	background: transparent;
}
.dialSVG {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -85px;
	margin-top: -85px;
	z-index: 1;
}
.toggle {
	-webkit-filter: drop-shadow(1px 2px 3px 0px rgba(0, 0, 0, 0.75));
	filter: drop-shadow(1px 2px 3px 0px rgba(0, 0, 0, 0.75));
}
.dialCenter {
	margin-top: -48px;
	margin-left: -48px;
	width: 96px;
	height: 96px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(96, 96, 96, 0.75);
	-moz-box-shadow: 0px 0px 6px 0px rgba(96, 96, 96, 0.75);
	box-shadow: 0px 0px 6px 0px rgba(96, 96, 96, 0.75);
	z-index: 1;
}
.dialDate {
	font-family: Helvetica;
	font-size: 26px;
	margin-left: -28px;
	left: 50%;
	margin-top: -31px;
	top: 50%;
	position: absolute;
}
.yearOne {
	width: 56px;
	border-bottom: 2px solid #000;
	margin: 0;
}
.yearTwo {
	margin: 0;
}

/*QUADRANTS*/
.quadrants {
	position: relative;
	margin: 58px auto;
	width: 1184px;
	height: 822px;
}
.quadrants section {
	position: absolute;
	width: 575px;
	height: 395px;
	border: 1px solid #bbb;
	border-radius: 5px;
	background: #f7f7f7;
	overflow: hidden;
}
.quadTitle {
	margin-top: -1px;
	width: 100%;
	height: 41px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	background: #cecfd2;
}
.quadrant2, .quadrant3 {
	left: 0;
}
.quadrant1, .quadrant4 {
	right: 0;
}
.quadrant1, .quadrant2 {
	top: 0;
}
.quadrant3, .quadrant4 {
	bottom: 0;
}

.expand	{
	position:	relative;
	cursor:	pointer;
	border-radius:	5px;
	height:	30px;
	margin:	5px;
	margin-right:	50px;
	width:	32px;
	background:	#222;
	float:	right;
	font-size:	20px;
	color:	#f7f7f7;
	border:	1px solid #ddd;
	text-align:	center;
	line-height:	30px;
}

.expand:hover	{
	color:	orange;
}

.dropdown	{
	margin:	10px;
	float:	right;
	margin-right:	20px;
}

.quadTitle h2	{
	float:	left;
	margin:	10px;
	margin-left:	50px;
}

.quadTitle	{
	z-index:	5;
	position:	relative;
}

.topFunded	{
	position:	absolute;
	bottom:	0px;
	width:	100%;
	height:	120px;
	background:	white;
	border-top:	1px solid #bbb;
}

.topFundedTitle	{
	font-size:	8px!important;
	padding:	0px 10px;
	z-index:	5;
	position:	relative;
}

.dialContain	{
	z-index:	100;
	position:	relative;
	top:	50%;
}


.fundedMap {
	padding:	70px 50px;
	position:	absolute;
	left:	0px;
	height:	132px;
	overflow:	hidden;
	width:	85%;
}

svg path {
    /*fill: orange;*/
}​


svg>polyline {
    fill: blue!important;
}​

.hover	{
	fill:	red!important;
}







